.footerCopyright {
  border-top: 1px solid rgb(94, 94, 94);
  height: auto;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 20px;
}
.footerCopyrightRow {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.footerCopyright p:hover {
  color: rgb(255, 218, 139);
}
.no-underline {
  text-decoration-line: none;
}
.imgLogo {
  margin: 0 50px;
  height: 240px;
  width: 130px;
  object-fit: cover;
}
.firstRow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../medias/chess-entraineurs.jpg");
  object-fit: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(94, 94, 94);
}

@media screen and (max-width: 991px) {
  .copyright {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .footerCopyright p {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .copyright {
    width: 300px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 350px) {
  .copyright {
    font-size: 13px;
  }
}
