.footerCopyright {
  border-top: 1px solid rgb(94, 94, 94);
  height: auto;
  width: 100vw;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 20px;
}
.footerCopyrightRow {
  padding-right: 0;
}
.footerCopyright p:hover {
  color: rgb(255, 218, 139);
}
.no-underline {
  text-decoration-line: none;
}

@media screen and (max-width: 991px) {
  .copyright {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .footerCopyright p {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .copyright {
    width: 300px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 350px) {
  .copyright {
    font-size: 13px;
  }
}
