* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.no-underline {
  text-decoration-line: none;
}
.headerAccueil {
  height: 400px;
  width: 100vw;
}
.backgroundHeaderAccueil {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../medias/chess-sommaire4.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header {
  height: 170px;
}
.logoClub {
  max-height: 140px;
  width: auto;
  margin-left: 3px;
}
.logoClub:hover {
  opacity: 0.7;
  transition: ease-in-out 400ms;
}
.col-contact {
  display: flex;
}
.contact {
  justify-content: center;
  margin-top: 59px;
  padding-right: 15px;
  display: inline-flex;
}
.contact a:hover {
  color: rgb(255, 218, 139);
}
.contact a {
  text-decoration-line: none;
  font-size: 1.4em;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
.socialLinks {
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin: 0 20px;
}
.socialLinks:hover {
  color: rgb(255, 218, 139);
  cursor: pointer;
}
.no-wrap {
  flex-wrap: nowrap;
}
/*-------------------------- NAVABAR ----------------------------*/

nav {
  font-size: 1.4em;
  margin-top: 75px;
}

.navbar {
  height: 50px;
  padding: 0;
  margin-bottom: 15px;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  color: rgb(255, 255, 255);
  padding-right: 20px;
}
.nav-linkBig {
  width: 220px;
}

a.nav-link:hover {
  color: rgb(255, 218, 139);
}

.nav-link-active {
  color: rgb(184, 184, 184);
  border-bottom: 1px solid rgb(255, 218, 139);
}

.navbar-toggler {
  background-color: rgb(255, 218, 139);
}

.nav-link:focus {
  color: rgb(255, 255, 255);
}

.navbar-collapse {
  width: 50vw;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background-color: #00000000;
  border: none;
  font-size: 1.2rem;
  height: 190px;
  width: auto;
  border-radius: 0;
}

.text-li-services {
  background-color: #000000;
  border: 1px solid rgb(255, 218, 139);
  margin-left: 20px;
  color: rgb(241, 241, 241);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

.pointer {
  cursor: pointer;
}
.toHideBigScreen {
  display: none;
}

/*----------------------------- END NAVBAR ---------------------------------*/

.titleHeader {
  letter-spacing: 1px;
  font-size: 100px;
  margin-top: 20px;
  height: auto;
  padding: 20px;
  color: rgb(241, 241, 241);
  display: block;
}
.textClubMobile {
  display: none;
}
.massis {
  font-size: 70px;
}
/* --------------------------- END HEADER ------------------------ */

/* ------------------- media queries -------------------- */

@media screen and (max-width: 1050px) {
  .titleHeader {
    font-size: 80px;
    margin-top: 40px;
  }
  .massis {
    font-size: 50px;
  }
}
@media screen and (max-width: 991px) {
  .nav-link-active {
    border-bottom: none;
  }
  .col-2 {
    display: none;
  }
  .col-contact {
    display: none;
  }
  .navbar-collapse {
    background-color: #000000;
    border: 1px solid rgb(255, 218, 139);
    position: absolute;
    top: 60px;
  }
  .contact {
    display: none;
  }
  .logoClub {
    display: none;
  }
  .navbar {
    margin-top: 10px;
  }
  .textClubMobile {
    display: flex;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    letter-spacing: 5px;
  }
  .navbarHeader {
    display: flex;
  }
  .navbar {
    flex-wrap: nowrap;
  }
  .titleHeader {
    margin-top: 60px;
  }
  .text-li-services {
    border: none;
  }
  .toHideBigScreen {
    display: block;
  }
}
@media screen and (max-width: 870px) {
  .titleHeader {
    font-size: 60px;
  }
  .massis {
    font-size: 40px;
  }
}
@media screen and (max-width: 590px) {
  .textClubMobile {
    letter-spacing: 4px;
  }
  .navbar-collapse {
    width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  .headerAccueil {
    height: 200px;
  }
  .titleHeader {
    margin-top: 0px;
  }
}

@media screen and (max-width: 540px) {
  .textClubMobile {
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 350px) {
  .massis {
    font-size: 30px;
  }
}
