/* -------------------- LOCALISATION -------------------- */
.imgLocalisation {
  width: 100%;
  height: 1000px;
  object-fit: cover;
  background-size: cover;
  filter: grayscale(100);
  transition: 0.3s ease-in-out;
}
.imgLocalisation:hover {
  filter: grayscale(0);
}
.localisation h5 {
  font-size: 30px;
  letter-spacing: 2px;
  padding-top: 70px;
  color: rgb(236, 197, 111);
}
.localisation h3 {
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 25px;
  color: #f0f0f0;
}
.localisation h2 {
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 25px;
  color: #f0f0f0;
}
.localisation p {
  letter-spacing: 1px;
  font-size: large;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #f0f0f0;
}
.localisation p.blue {
  letter-spacing: 2px;
  font-size: 20px;
  color: rgb(38, 172, 172);
  padding-left: 40px;
}
.textLocalisation {
  margin: 10% 8% 10% 0;
  background-color: #000000;
  height: 700px;
  padding-bottom: 70px;
}
.accessLocalisation {
  background-color: #000000;
  padding-bottom: 50px;
}
.accessLocalisation span {
  letter-spacing: 2px;
  font-size: 20px;
  color: rgb(38, 172, 172);
  padding-left: 40px;
}
.transport {
  padding-top: 20px;
  padding-left: 40px;
}
.transport i {
  font-size: 35px;
}
.fa-transport {
  color: rgb(236, 197, 111);
}
.fa-transport:hover {
  transition: 250ms;
  color: rgb(38, 172, 172);
}
.col-right {
  margin: 10% 0 10% 8%;
  background-color: #000000;
  height: auto;
  padding-bottom: 70px;
}
.btnInscription {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 300px;
  background-color: rgb(236, 197, 111);
  color: rgb(28, 103, 116);
  border-radius: 30px;
}
.logoDownload {
  font-size: 25px;
  padding-right: 10px;
}

@media screen and (max-width: 1600px) {
  .textLocalisation {
    height: auto;
  }
}
@media screen and (max-width: 1199px) {
  .imgLocalisation {
    filter: grayscale(0);
  }
}
@media screen and (max-width: 991px) {
  .imgLocalisation {
    display: none;
  }
  .textLocalisation {
    margin: 5% 5% 5% 5%;
  }
  .col-right {
    margin: 0% 5% 0% 5%;
  }
  .accessLocalisation span {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 400px) {
  .localisation p.blue {
    letter-spacing: 1px;
    font-size: 15px;
  }
  .btnInscription {
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    width: 250px;
  }
}
