/* ---------------------- PRESENTATION ----------------------- */
.col-lg-7 {
  padding-left: 0px;
  padding-right: 0px;
}
.presentation {
  border-top: 2px solid black;
  background-color: #f0f0f0;
  padding-top: 80px;
  padding-bottom: 70px;
}
.presentation h1 {
  letter-spacing: 2px;
  border-bottom: 2px solid rgb(255, 218, 139);
  width: 210px;
}
.presentation h3 {
  padding-top: 40px;
  letter-spacing: 2px;
  color: rgb(236, 197, 111);
}
.imgPresentation {
  width: 42vw;
  object-fit: cover;
  padding-left: 40px;
}
.black {
  height: 81vh;
  width: 100%;
  background-color: black;
  color: rgb(247, 247, 247);
}
.col-img {
  padding: 0;
}
.paddingCol {
  padding-bottom: 200px;
}
/* ------------------- media queries -------------------- */

@media screen and (max-width: 991px) {
  .imgPresentation {
    display: none;
  }
  .presentation h1 {
    margin-left: auto;
    margin-right: auto;
  }
  .black {
    height: 500px;
  }
  .flex-fill-md-none {
    flex: 0 0 auto;
    width: auto;
    padding-bottom: 120px;
  }
  .paddingCol {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 580px) {
  .flex-fill-md-none {
    padding-bottom: 160px;
  }
}
@media screen and (max-width: 450px) {
  .flex-fill-md-none {
    padding-bottom: 210px;
  }
  .paddingCol {
    padding-bottom: 140px;
  }
}
@media screen and (max-width: 350px) {
  .flex-fill-md-none {
    padding-bottom: 260px;
  }
  .paddingCol {
    padding-bottom: 250px;
  }
}
