/* -------------------------- SOMMAIRE ------------------------ */
.sommaire {
  border-bottom: 2px solid black;
}
.sommaireH1 {
  letter-spacing: 2px;
  border-bottom: 2px solid rgb(255, 218, 139);
  width: 290px;
}
.sommaire a:hover {
  transition: 300ms;
  filter: brightness(70%);
}
.sommaire p {
  color: white;
}
.sommaire a p:hover {
  transition: 300ms;
  color: rgb(255, 218, 139);
}
.textSommaire {
  font-size: 2rem;
}
.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.case1 {
  background-color: black;
  height: 80px;
  width: 33%;
  border: 1px solid rgb(255, 218, 139);
}
.case2 {
  background-color: rgb(83, 83, 83);
  height: 80px;
  width: 34%;
  border: 1px solid rgb(255, 218, 139);
}
.case3 {
  background-color: black;
  height: 80px;
  width: 33%;
  border: 1px solid rgb(255, 218, 139);
}
.row-border-bottom {
  border-bottom: 3px solid black;
}
img.row-border-bottom {
  padding-left: 0px;
  padding-right: 0px;
}
/* ------------------- media queries -------------------- */

@media screen and (max-width: 991px) {
  .textSommaire {
    font-size: 1rem;
  }
}
