* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.no-underline {
  text-decoration-line: none;
}
.headerAccueil {
  height: 1000px;
  width: 100vw;
}
.backgroundHeaderAccueil {
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.336)),
    url("../../medias/chess.jpg");
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
}

.header {
  height: 170px;
}
.logoClub {
  max-height: 140px;
  width: auto;
  margin-left: 3px;
}
.logoClub:hover {
  opacity: 0.7;
  transition: ease-in-out 400ms;
}
.col-contact {
  display: flex;
}
.contact {
  justify-content: center;
  margin-top: 59px;
  padding-right: 15px;
  display: inline-flex;
}
.contact a:hover {
  color: rgb(255, 218, 139);
}
.contact a {
  text-decoration-line: none;
  font-size: 1.4em;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
.socialLinks {
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin: 0 20px;
}
.socialLinks:hover {
  color: rgb(255, 218, 139);
  cursor: pointer;
}
.no-wrap {
  flex-wrap: nowrap;
}
/*-------------------------- NAVABAR ----------------------------*/

nav {
  font-size: 1.4em;
  margin-top: 50px;
}

.navbar {
  height: 50px;
  padding: 0;
  margin-bottom: 15px;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  color: rgb(255, 255, 255);
  padding-right: 20px;
}

a.nav-link:hover {
  color: rgb(255, 218, 139);
}

.nav-link-active {
  color: rgb(184, 184, 184);
  border-bottom: 1px solid rgb(255, 218, 139);
}

.navbar-toggler {
  background-color: rgb(255, 218, 139);
}

.nav-link:focus {
  color: black;
}

.navbar-collapse {
  width: 50vw;
}

.dropdown-menu {
  background-color: #00000000;
  border: none;
  font-size: 1.2rem;
  height: 130px;
  width: auto;
  border-radius: 0;
}

.text-li-services {
  margin-left: 10px;
  color: rgb(241, 241, 241);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

.pointer {
  cursor: pointer;
}

/*----------------------------- END NAVBAR ---------------------------------*/

.titleHeader {
  font-size: 100px;
  margin-top: 150px;
  height: auto;
  padding: 20px;
  color: rgb(241, 241, 241);
  display: block;
}
.textClubMobile {
  display: none;
}
.massis {
  font-size: 70px;
}
/* --------------------------- END HEADER ------------------------ */
/* -------------------------- SOMMAIRE ------------------------ */

.imgSommaire {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border: 1px solid rgb(255, 218, 139);
}
.sommaireH1 {
  border-bottom: 2px solid rgb(255, 218, 139);
  width: 170px;
}
.sommaire a:hover {
  transition: 300ms;
  filter: brightness(70%);
}
.sommaire a span:hover {
  transition: 300ms;
  color: rgb(255, 218, 139);
}

/* ---------------------- PRESENTATION ----------------------- */
.presentation {
  border-top: 2px solid black;
  background-color: #f0f0f0;
  padding-top: 80px;
  padding-bottom: 70px;
}
.presentation h1 {
  letter-spacing: 2px;
  border-bottom: 2px solid rgb(255, 218, 139);
  width: 210px;
}
.presentation h3 {
  letter-spacing: 2px;
  color: rgb(236, 197, 111);
}
.imgPresentation {
  width: 42vw;
  object-fit: cover;
  padding-left: 40px;
}
.black {
  min-height: 81vh;
  background-color: black;
  color: rgb(247, 247, 247);
}
.col-img {
  padding: 0;
}
/* ------------------- ENTRAINEURS ------------------- */
.entraineurs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../medias/chess-entraineurs.jpg");
  object-fit: cover;
  background-position: center top;

  padding-top: 300px;
  padding-bottom: 200px;
  margin-top: -15%;
}
.entraineurs h1 {
  letter-spacing: 2px;
  color: #f0f0f0;
  padding-bottom: 100px;
}
.entraineurs h5 {
  letter-spacing: 2px;
  color: rgb(236, 197, 111);
}
.entraineurs h4 {
  letter-spacing: 2px;
  color: #f0f0f0;
  padding-top: 10px;
}
.imgEntraineurs {
  width: 300px;
  height: 300px;
  padding: 0;
  object-fit: cover;
  border: 1px solid rgb(236, 197, 111);
}
/* -------------------- LOCALISATION -------------------- */
.imgLocalisation {
  width: 50vw;
  height: 1000px;
  object-fit: cover;
}
.localisation h5 {
  letter-spacing: 2px;
  padding-top: 70px;
  padding-left: 40px;
  color: rgb(236, 197, 111);
}
.localisation h3 {
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 40px;
  color: #f0f0f0;
}
.localisation h2 {
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 40px;
  color: #f0f0f0;
}
.localisation p {
  font-size: large;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #f0f0f0;
}
.textLocalisation {
  margin: 10% 8% 10% 0;
  background-color: #000000;
  height: auto;
  padding-bottom: 70px;
}
.accessLocalisation {
  background-color: #000000;
  padding-bottom: 50px;
}
.accessLocalisation span {
  letter-spacing: 2px;
  font-size: 20px;
  color: rgb(38, 172, 172);
  padding-left: 40px;
}
.transport {
  padding-top: 20px;
  padding-left: 40px;
}
.transport i {
  font-size: 35px;
}
.fa-transport {
  color: rgb(236, 197, 111);
}
.fa-transport:hover {
  transition: 250ms;
  color: rgb(38, 172, 172);
}

/* ------------------- REDIRECTION -------------------- */
.redirection {
  background-color: #000000;
}
.redirection h1 {
  letter-spacing: 2px;
  color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 100px;
}
.redirection h3 {
  padding-top: 100px;
  letter-spacing: 2px;
  color: rgb(236, 197, 111);
}
.imgRedirection {
  height: 300px;
  width: 400px;
  filter: brightness(0.5);
  border: 1px solid rgb(236, 197, 111);
  margin-bottom: 100px;
}
.image-container {
  position: relative;
}
.image-text {
  position: absolute;
  width: 300px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
}
.image-container:hover .imgRedirection {
  transition: 300ms;
  filter: brightness(40%);
  border: 1px solid white;
}
.image-container:hover .image-text {
  transition: 300ms;
  color: rgb(236, 197, 111);
  opacity: 1;
}
/* -------------------- RESEAUX ------------------ */
.reseaux {
  height: 560px;
}
.reseaux h3 {
  letter-spacing: 2px;
  padding-top: 100px;
  color: rgb(223, 181, 91);
}
.reseaux h1 {
  letter-spacing: 2px;
  padding-top: 20px;
}
.reseaux h4 {
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 80px;
}
.reseauxLogo {
  width: 150px;
  font-size: 90px;
  color: #3d3d3d;
}
.reseauxLogo:hover {
  color: rgb(223, 181, 91);
  transition: 300ms;
}
.anchorReseauxLogo {
  width: 150px;
}
/* -------------------- COORDONNEES ------------------- */

.coordonnees {
  background-color: #000000;
  height: 600px;
}
.gold {
  padding-top: 50px;
  margin: 0 50px;
  background-color: rgb(223, 177, 80);
  border-radius: 15px;
  height: 500px;
  width: 400px;
  border: 3px solid rgb(223, 177, 80);
}
.gold:hover {
  transition: 300ms;
  background-color: #dddddd;
  color: rgb(216, 157, 30);
}
.gold:hover .anchorCoordonnesLogo {
  color: rgb(216, 157, 30);
}
.coordonnees span {
  margin-top: 20px;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.coordonnees h1 {
  letter-spacing: 2px;
  padding-bottom: 50px;
}
.coordonneesLogo {
  padding-top: 30px;
  font-size: 50px;
  width: 100px;
}
.anchorCoordonnesLogo {
  width: 100px;
  color: #000000;
}
.gold1 {
  background-image: url(../../medias/lyon4.jpg);
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
  filter: grayscale(100%);
}
.gold1:hover {
  filter: grayscale(0);
}
.gold2 {
  background-image: url(../../medias/erevan2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  filter: grayscale(100%);
}
.gold2:hover {
  filter: grayscale(0);
}
/* -------------------- END COORDONNEES ------------------- */
/* ------------------- media queries -------------------- */

@media screen and (max-width: 1700px) {
  .imgSommaire {
    height: 220px;
    width: 300px;
  }
}
@media screen and (max-width: 1300px) {
  .imgSommaire {
    height: 150px;
    width: 200px;
  }
}
@media screen and (max-width: 1050px) {
  .titleHeader {
    font-size: 80px;
    margin-top: 180px;
  }
  .massis {
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link-active {
    border-bottom: none;
  }
  .col-2 {
    display: none;
  }
  .col-contact {
    display: none;
  }
  .navbar-collapse {
    background-color: #000000;
    border: 1px solid rgb(255, 218, 139);
    position: absolute;
    top: 60px;
  }
  .contact {
    display: none;
  }
  .logoClub {
    display: none;
  }
  .navbar {
    margin-top: 10px;
  }
  .textClubMobile {
    display: flex;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    letter-spacing: 5px;
  }
  .navbarHeader {
    display: flex;
  }
  .navbar {
    flex-wrap: nowrap;
  }
  .titleHeader {
    margin-top: 250px;
  }
  .imgSommaire {
    height: 220px;
    width: 300px;
  }
  .imgPresentation {
    height: auto;
    width: 90vw;
    object-fit: cover;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media screen and (max-width: 870px) {
  .titleHeader {
    font-size: 60px;
    margin-top: 290px;
  }
  .massis {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .imgSommaire {
    height: auto;
    width: 90vw;
  }
}

@media screen and (max-width: 590px) {
  .textClubMobile {
    letter-spacing: 4px;
  }
  .navbar-collapse {
    width: 80vw;
  }
}

@media screen and (max-width: 540px) {
  .textClubMobile {
    letter-spacing: 3px;
  }
}
