<div class="actualites">
  <div class="text-center">
    <h1>Actualités</h1>
  </div>
  <!-- -------------------- DEBUT PATTERN ARTICLE ------------------- -->
  <div class="container-fluid">
    <div class="row d-flex py-5">
      <div class="col-12 col-lg-2 col-xl-3"></div>
      <div class="col-12 col-lg-8 col-xl-6 b-rad15">
        <div class="row">
          <img
            class="imgActualites img-fluid"
            src="medias/afficheOpen.jpg"
            alt="affiche tournoi"
          />
          <!-- ECRIRE LE CHEMIN DE LA PHOTO DANS LE SRC  -->
          <!-- PRIVILEGIER DES PHOTOS HORIZONTALES -->
        </div>
        <div class="row d-flex">
          <div class="text-center white">
            <h2>Massis Club d'Echecs organise son 1er OPEN International</h2>
            <h3>"OPEN CHESS LYON GENERATION"</h3>
            <p>
              Retrouvez toutes les informations concernant l'organisation et le
              déroulement de l'OPEN CHESS LYON GENERATION en cliquant sur le
              lien ci dessous
            </p>
            <a href="open.php"
              ><button class="btn btn-goldActu">INFORMATIONS OPEN</button></a
            >
            <p class="date">Rédigé le 26-07-2023</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2 col-xl-3"></div>
    </div>
  </div>
  <!-- -------------------- FIN PATTERN ARTICLE ------------------- -->
  <div class="container-fluid">
    <div class="row d-flex py-5">
      <div class="col-12 col-lg-2 col-xl-3"></div>
      <div class="col-12 col-lg-8 col-xl-6 b-rad15">
        <div class="row">
          <img
            class="imgActualites img-fluid"
            src="medias/buildings.jpg"
            alt="affiche tournoi"
          />
          <!-- ECRIRE LE CHEMIN DE LA PHOTO DANS LE SRC  -->
          <!-- PRIVILEGIER DES PHOTOS HORIZONTALES -->
        </div>
        <div class="row d-flex">
          <div class="text-center white">
            <h2>MASSIS Club d'Echecs renouvelle ses journées</h2>
            <h3>"PORTES OUVERTES"</h3>
            <p>
              <b>MASSIS Club d'Echecs</b> (loisir, initiation, perfectionnement)
              renouvelle ses journées portes ouvertes en vue des
              pré-inscriptions de l'année 2023/2024. <br />Vos enfants sont les
              bienvenus, ils seront accueillis à l'<b
                >Espace Garbis Manoukian</b
              >
              au 40 rue d'Arménie / Lyon 3ème : <br /><br />
              - Lundi 12, 19, 26 juin et jeudi 15, 22 et 29 juin de 16h45 à
              18h45 directement à la sortie des classes <br />- Mercredi 14, 21
              et 28 juin de 10h00 à 12h00 <br />- samedi 17, 24 juin, et 1
              juillet de 15h30 à 17h30 et de 14h00 à 18h00. <br /><br />Pour des
              raisons logistiques, nous vous remercions de prendre le contact
              avec l'administration de l'association en envoyant un courriel à :
              <br />
              <b>massisechecs@gmail.com</b> ou <b>roman.tarjimanov@gmail.com</b>
              <br />
              en précisant le nom, le prénom, l'âge, le niveau de votre enfant,
              les coordonnées téléphoniques des parents et les jours souhaités.
              <br />N'hésitez pas à franchir le pas : nous vous attendons très
              nombreux indépendamment de l'âge et du niveau de connaissance des
              échecs. <br />Vous pouvez contacter notre présidente, Mme Anna
              JAMBON au 06.64.98.12.69 ou Roman TARJIMANOV 06.68.39.28.23.
            </p>
            <!-- <a href="open.php"
            ><button class="btn btn-goldActu">INFORMATIONS OPEN</button></a
          > -->
            <p class="date">Rédigé le 25-07-2023</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2 col-xl-3"></div>
    </div>
  </div>
</div>
