<div class="actualites">
  <div class="text-center">
    <h1>Actualités</h1>
  </div>
  <div class="row d-flex py-5">
    <div class="col-12 col-lg-2 col-xl-3"></div>
    <div class="col-12 col-lg-8 col-xl-6 b-rad15">
      <div class="row">
        <img
          class="imgActualites img-fluid"
          src="../medias/afficheOpen.jpg"
          alt="affiche tournoi"
        />
        <!-- ECRIRE LE CHEMIN DE LA PHOTO DANS LE SRC  -->
        <!-- PRIVILEGIER DES PHOTOS HORIZONTALES -->
      </div>
      <div class="row d-flex">
        <div class="text-center white">
          <h2>Massis Club d'Echecs organise son 1er OPEN International</h2>
          <h3>"OPEN CHESS LYON GENERATION"</h3>
          <p>
            Retrouvez toutes les informations concernant l'organisation et le
            déroulement de l'OPEN CHESS LYON GENERATION en cliquant sur le lien
            ci dessous
          </p>
          <a href="open.php"
            ><button class="btn btn-goldActu">INFORMATIONS OPEN</button></a
          >
          <p class="date">Rédigé le 25-07-2023</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 col-xl-3"></div>
  </div>
</div>
