<!-- ----------------------- COORDONNEES ----------------------- -->

<div class="coordonnees row d-flex align-items-center justify-content-center">
  <div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="gold gold1"></div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="d-flex justify-content-center align-items-center text-center">
      <div class="gold">
        <h1>Coordonnées</h1>
        <span>Espace Garbis Manoukian</span><br />
        <span>40 Rue d'Arménie</span><br />
        <span>69003 LYON</span><br />
        <span>massisechecs@gmail.com</span><br />
        <div class="row d-flex justify-content-center">
          <a class="anchorCoordonnesLogo" href="">
            <i class="coordonneesLogo fa-brands fa-facebook-f"></i>
          </a>
          <a class="anchorCoordonnesLogo" href="">
            <i class="coordonneesLogo fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="gold gold2"></div>
  </div>
</div>
<!-- ----------------------- END COORDONNEES ----------------------- -->
