<!-- --------------------- HEADER ---------------------- -->
<div class="container-fluid">
  <div class="row d-flex">
    <div class="headerAccueil backgroundHeaderAccueil">
      <div class="row header">
        <div class="col-2">
          <div class="logoClubHeader pt-3">
            <a href="accueil.php">
              <img
                class="logoClub img-fluid"
                src="../medias/logoClub.png"
                alt="logo club"
              />
            </a>
          </div>
        </div>
        <!-- --------------------- NAVBAR ---------------------- -->
        <div class="col-12 col-lg-8">
          <div class="navbarHeader">
            <nav
              class="container navbar navbar-expand-lg navbar-dark col-sm-11"
            >
              <div class="container d-flex justify-content-center">
                <div class="textClubMobile text-center">
                  <span class="titleClub">Massis Club d'Echecs</span>
                </div>
                <button
                  type="button"
                  class="navbar-toggler"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarText"
                  aria-controls="navbarText"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="collapse navbar-collapse"
                  id="navbarText"
                  style="z-index: 1"
                >
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="accueil.php">Accueil</a>
                    </li>
                    <!-- -------------- NAV DROPDOWN NOUS REJOINDRE ----------------- -->
                    <li class="nav-item dropdown">
                      <a href="nousRejoindre.php" class="nav-link pointer px-2"
                        >Nous rejoindre<b class="caret"></b
                      ></a>
                      <a
                        class="nav-link dropdown-toggle pointer px-2"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      ></a>
                      <ul id="nousRejoindre" class="dropdown-menu">
                        <li>
                          <a
                            class="nav-link no-underline text-li-services"
                            href="nousRejoindre.php#localisation"
                            >Localisation</a
                          >
                        </li>
                        <li>
                          <a
                            class="nav-link no-underline text-li-services"
                            href="nousRejoindre.php#horaires"
                            >Horaires</a
                          >
                        </li>
                        <li>
                          <a
                            class="nav-link no-underline text-li-services"
                            href="nousRejoindre.php#adhesion"
                            >Adhésion</a
                          >
                        </li>
                      </ul>
                    </li>
                    <!-- --------- DROPDOWN VIE DU CLUB ----------- -->
                    <li class="nav-item dropdown">
                      <a
                        href="vieDuClub.php"
                        class="nav-link nav-link-active pointer px-2"
                        >Vie du club<b class="caret"></b
                      ></a>
                      <a
                        class="nav-link dropdown-toggle pointer px-2"
                        href="#vieDuClub"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      ></a>
                      <ul id="vieDuClub" class="dropdown-menu">
                        <li>
                          <a
                            class="nav-link no-underline text-li-services"
                            href="actualites.php"
                            >Actualités</a
                          >
                        </li>
                        <li>
                          <a
                            class="nav-link nav-linkBig no-underline text-li-services"
                            href="open.php"
                            >Open Lyon Generation</a
                          >
                        </li>
                        <li>
                          <a
                            class="nav-link no-underline text-li-services"
                            href="resultats.php"
                            >Resultats</a
                          >
                        </li>
                        <li>
                          <a
                            class="nav-link nav-linkBig no-underline text-li-services"
                            href="staff.php"
                            >Comité directeur</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="toHideBigScreen">
                      <a class="nav-link pointer px-2" href="contact.php"
                        >Contact</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!-- --------------------- END NAVBAR --------------------- -->
        <div class="col-2 col-contact justify-content-end">
          <div class="contact">
            <a href="contact.php">Contact</a>
            <a target="_blank" href="">
              <i class="socialLinks fa-brands fa-instagram"></i>
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/groups/772185282945792/?ref=share_group_link&exp=9594"
            >
              <i class="socialLinks fa-brands fa-facebook-f"></i>
            </a>
          </div>
        </div>
        <div class="row titleHeader text-center">
          <span class="massis px-5 d-block">Vie du club</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ----------------------- END HEADER ---------------------- -->
