<!-- ---------------------- LOCALISATION --------------------- -->

<div id="localisation" class="localisation">
  <div class="row d-flex">
    <div class="col-12 col-lg-6 d-flex flex-column align-items-stretch">
      <div class="textLocalisation h-80">
        <h5>Localisation</h5>
        <h3>Espace Garbis Manoukian</h3>
        <p>
          Niché au cœur du 3ème arrondissement de Lyon, l'Espace Garbis
          Manoukian est un lieu emblématique où le jeu d'échecs s'épanouit en
          tant que sport d'esprit et culture. C'est ici que les passionnés
          d'échecs, qu'ils soient novices ou confirmés, se retrouvent pour
          partager des moments de réflexion intense et de camaraderie.<br />
          <br />
          L'Espace Garbis Manoukian est bien plus qu'un lieu de rencontres
          échiquéennes. C'est un temple dédié à l'exploration de l'échiquier,
          offrant des formations, des tournois et des ateliers de stratégie.<br /><br />
          Cette véritable institution lyonnaise réunit la communauté des échecs,
          célébrant la finesse du jeu tout en préservant et transmettant sa
          riche tradition.<br /><br />
          Plongez dans l'univers fascinant des échecs avec nous à l'Espace
          Garbis Manoukian.
        </p>
        <div class="accessLocalisation">
          <h5 style="padding-top: 20px; padding-bottom: 15px">Horaires</h5>
          <a class="no-underline" href="nousRejoindre.php#horaires">
            <p class="blue">Voir les horaires d'ouverture du club</p>
          </a>
          <h5 style="padding-top: 20px">Accès</h5>
          <h2>Un club accessible en transport en commun</h2>
          <p>
            Le club se situe à Lyon dans le 3ème arrondissement, au numéro 40 de
            la rue d'Arménie. Cliquez sur une des icônes pour avoir un
            itinéraire Google Maps associé à votre moyen de transport.
          </p>
          <div class="transport d-flex align-items-center">
            <a
              target="_blank"
              href="https://www.google.com/maps/dir//40+Rue+d'Arm%C3%A9nie,+69003+Lyon/@45.7543974,4.8110384,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47f4ea66339ef7b1:0x23cf5d68fea04f93!2m2!1d4.8522378!2d45.7544048!3e3?entry=ttu"
            >
              <i class="fa-transport fa-solid fa-train-tram"></i>
            </a>
            <div class="px-2">
              <div class="row">
                <a
                  target="_blank"
                  class="no-underline"
                  href="https://www.google.com/maps/dir//40+Rue+d'Arm%C3%A9nie,+69003+Lyon/@45.7543974,4.8110384,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47f4ea66339ef7b1:0x23cf5d68fea04f93!2m2!1d4.8522378!2d45.7544048!3e3?entry=ttu"
                >
                  <p class="blue">TRANSPORT EN COMMUN</p>
                </a>
              </div>
              <div class="row">
                <span style="color: rgb(241, 241, 241)"
                  >Guide d'accès en transport en commun</span
                >
              </div>
            </div>
          </div>
          <div class="transport d-flex align-items-center">
            <a
              target="_blank"
              href="https://www.google.com/maps/dir//40+Rue+d'Arm%C3%A9nie,+69003+Lyon/@45.7543974,4.8110384,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47f4ea66339ef7b1:0x23cf5d68fea04f93!2m2!1d4.8522378!2d45.7544048!3e1?entry=ttu"
            >
              <i class="fa-transport fa-solid fa-bicycle"></i>
            </a>
            <div>
              <div class="row">
                <a
                  target="_blank"
                  class="no-underline"
                  href="https://www.google.com/maps/dir//40+Rue+d'Arm%C3%A9nie,+69003+Lyon/@45.7543974,4.8110384,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47f4ea66339ef7b1:0x23cf5d68fea04f93!2m2!1d4.8522378!2d45.7544048!3e1?entry=ttu"
                >
                  <p class="blue">VELO</p>
                </a>
              </div>
              <div class="row">
                <span style="color: rgb(241, 241, 241)"
                  >Guide d'accès en vélo</span
                >
              </div>
            </div>
          </div>
          <div class="transport d-flex align-items-center">
            <a
              target="_blank"
              href="https://www.google.com/maps/dir//40+Rue+d'Arm%C3%A9nie,+69003+Lyon/@45.7543974,4.8110384,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47f4ea66339ef7b1:0x23cf5d68fea04f93!2m2!1d4.8522378!2d45.7544048!3e0?entry=ttu"
            >
              <i class="fa-transport fa-solid fa-car"></i>
            </a>
            <div class="px-2">
              <div class="row">
                <a
                  target="_blank"
                  class="no-underline"
                  href="https://www.google.com/maps/dir//40+Rue+d'Arm%C3%A9nie,+69003+Lyon/@45.7543974,4.8110384,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47f4ea66339ef7b1:0x23cf5d68fea04f93!2m2!1d4.8522378!2d45.7544048!3e0?entry=ttu"
                >
                  <p class="blue">VOITURE</p>
                </a>
              </div>
              <div class="row">
                <span style="color: rgb(241, 241, 241)"
                  >Guide d'accès en voiture</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-flex align-items-stretch">
      <img class="imgLocalisation h-100" src="../medias/lyon2.jpg" alt="" />
    </div>
  </div>
</div>
<!-- ----------------------- END LOCALISATION ----------------------- -->
