<div class="open">
  <div class="text-center">
    <h1>OPEN CHESS LYON GENERATION</h1>
    <div class="row">
      <div class="col-12 col-lg-6 px-5 py-5">
        <img class="img-fluid flag" src="../medias/drapeauFrance.jpg" alt="" />
        <h3>
          Chers parents, chers enfants, chers joueurs de MASSIS CLUB D’ECHECS
        </h3>
        <h5>
          Nous sommes heureux de vous confirmer que notre club organisera la
          1ère édition de son <br /><br />
          <span class="textgold"
            >“International Open Chess Lyon Generation”</span
          ><br /><br />
          le mercredi 30 août 2023. Vous retrouverez toutes les informations
          nécessaires sur l’affiche du tournoi. Venez nombreux !
        </h5>
      </div>
      <div class="col-12 col-lg-6 px-5 py-5">
        <img class="img-fluid flag" src="../medias/drapeauArmenie.jpg" alt="" />

        <h3>
          Հարգելի ծնողներ, սիրելի երեխաներ, MASSIS CLUB D’ECHECS-ի սիրելի
          խաղացողներ
        </h3>
        <h5>
          Ուրախ ենք հաստատել, որ մեր ակումբը կկազմակերպի իր
          <br /><br /><span class="textgold"
            >«International Open Chess Lyon Generation»</span
          ><br /><br />-ի 1-ին թողարկումը չորեքշաբթի՝ 2023 թվականի օգոստոսի
          30-ին: Մրցաշարի պաստառի վրա կգտնեք բոլոր անհրաժեշտ տեղեկությունները:
          Եկեք շատ!
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8 px-5 py-5 d-flex flex-column">
        <img class="img-fluid" src="../medias/afficheOpen.jpg" alt="" />
        <a href="../medias/afficheOpen.jpg" download>
          <button class="btndownload">
            <i class="logoDownload fa-solid fa-download"></i>
            TELECHARGER L'AFFICHE
          </button>
        </a>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 px-5 py-3">
        <img class="img-fluid flag" src="../medias/drapeauFrance.jpg" alt="" />

        <h5>
          Ce tournoi aura lieu durant la semaine du vendredi 25 août au vendredi
          1er septembre 2023 , que nous espérons riche en émotions car nous
          accueillerons la délégation arménienne constituée du Grand Maître… et
          de quatre de ses élèves. Nous proposerons lors de cette semaine des
          stages pour tous les joueurs de notre club. Vous retrouverez un
          planning prévisionnel de la semaine ci-dessous.
        </h5>
      </div>
      <div class="col-12 col-lg-6 px-5 py-3">
        <img class="img-fluid flag" src="../medias/drapeauArmenie.jpg" alt="" />

        <h5>
          Այս մրցաշարը տեղի կունենա 2023 թվականի օգոստոսի 25-ից մինչև ուրբաթ՝
          սեպտեմբերի 1-ի շաբաթվա ընթացքում, որը, հուսով ենք, հագեցած կլինի
          զգացմունքներով, որովհետև կդիմավորենք Հայաստանի պատվիրակությանը, որը
          կազմված է մեծ վարպետից… և նրա չորս սաներից։ Այս շաբաթվա ընթացքում մենք
          կառաջարկենք պրակտիկա մեր ակումբի բոլոր խաղացողների համար։ Ստորև կգտնեք
          շաբաթվա ժամանակավոր ժամանակացույցը:
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8 px-5 py-5 d-flex flex-column">
        <img class="img-fluid" src="../medias/planningOpen.jpg" alt="" />
        <a href="../medias/planningOpen.jpg" download>
          <button class="btndownload">
            <i class="logoDownload fa-solid fa-download"></i>
            TELECHARGER LE PLANNING
          </button>
        </a>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
  </div>
</div>
<span></span>
