<div class="politic">
  <div class="text-center">
    <a href="accueil.php"
      ><button class="btn btn-gold">Retour à la page d'accueil</button></a
    >
    <h1>POLITIQUE DE CONFIDENTIALITE</h1>
  </div>
  <div class="textPolitic">
    <br />
    <h2>Qui sommes-nous ?</h2>
    <br />
    <p>L’adresse de notre site Web est : https://massis-club-echecs.com.</p>
    <br />
    <h2>Utilisation des données personnelles collectées</h2>
    <br />
    <h3>Commentaires</h3>
    <br />

    <p>
      Quand vous laissez un commentaire sur notre site web, les données
      inscrites dans le formulaire de commentaire, mais aussi votre adresse IP
      et l’agent utilisateur de votre navigateur sont collectés pour nous aider
      à la détection des commentaires indésirables.
    </p>
    <br />
    <p>
      Si vous êtes un utilisateur ou une utilisatrice enregistré·e et que vous
      téléversez des images sur le site web, nous vous conseillons d’éviter de
      téléverser des images contenant des données EXIF de coordonnées GPS. Les
      visiteurs de votre site web peuvent télécharger et extraire des données de
      localisation depuis ces images.
    </p>
    <br />
    <h3>Cookies</h3>
    <br />
    <p>
      Si vous déposez un commentaire sur notre site, il vous sera proposé
      d’enregistrer votre nom, adresse de messagerie et site web dans des
      cookies. C’est uniquement pour votre confort afin de ne pas avoir à saisir
      ces informations si vous déposez un autre commentaire plus tard. Ces
      cookies expirent au bout d’un an.
    </p>
    <br />
    <p>
      Si vous vous rendez sur la page de connexion, un cookie temporaire sera
      créé afin de déterminer si votre navigateur accepte les cookies. Il ne
      contient pas de données personnelles et sera supprimé automatiquement à la
      fermeture de votre navigateur.
    </p>
    <br />
    <h3>Contenu embarqué depuis d’autres sites</h3>
    <br />
    <p>
      Les articles de ce site peuvent inclure des contenus intégrés (par exemple
      des vidéos, images, articles…). Le contenu intégré depuis d’autres sites
      se comporte de la même manière que si le visiteur se rendait sur cet autre
      site.
    </p>
    <br />
    <p>
      Ces sites web pourraient collecter des données sur vous, utiliser des
      cookies, embarquer des outils de suivis tiers, suivre vos interactions
      avec ces contenus embarqués si vous disposez d’un compte connecté sur leur
      site web.
    </p>
    <br />
    <h2>Durées de stockage de vos données</h2>
    <br />
    <p>
      Si vous laissez un commentaire, le commentaire et ses métadonnées sont
      conservés indéfiniment. Cela permet de reconnaître et approuver
      automatiquement les commentaires suivants au lieu de les laisser dans la
      file de modération.
    </p>
    <br />
    <p>
      Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site
      (si cela est possible), nous stockons également les données personnelles
      indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent
      voir, modifier ou supprimer leurs informations personnelles à tout moment
      (à l’exception de leur nom d’utilisateur·ice). Les gestionnaires du site
      peuvent aussi voir et modifier ces informations.
    </p>
    <br />
    <h2>Les droits que vous avez sur vos données</h2>
    <br />
    <p>
      Si vous avez un compte ou si vous avez laissé des commentaires sur le
      site, vous pouvez demander à recevoir un fichier contenant toutes les
      données personnelles que nous possédons à votre sujet, incluant celles que
      vous nous avez fournies. Vous pouvez également demander la suppression des
      données personnelles vous concernant. Cela ne prend pas en compte les
      données stockées à des fins administratives, légales ou pour des raisons
      de sécurité.
    </p>
    <br />
    <h2>Transmission de vos données personnelles</h2>
    <br />
    <p>
      Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service
      automatisé de détection des commentaires indésirables.
    </p>
  </div>
  <div class="text-center">
    <a href="accueil.php"
      ><button class="btn btn-gold">Retour à la page d'accueil</button></a
    >
  </div>
</div>
