<!-- ------------------- PRESENTATION ------------------ -->
<div id="presentation" class="presentation">
  <div class="row">
    <div class="col-img col-12 col-lg-5 d-flex align-items-stretch">
      <img
        class="imgPresentation"
        src="../medias/imgPresentation2.jpg"
        alt=""
      />
    </div>
    <div class="col-12 col-lg-7 d-flex flex-column align-items-stretch">
      <div class="px-5 flex-fill h-50">
        <h1>Présentation</h1>
        <br />
        <h3>Un club complet</h3>
        <p class="fs-5">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
          reiciendis temporibus minus, obcaecati, veritatis praesentium fugiat
          nostrum rem iure optio at laudantium. Quisquam tempore iure aut qui?
          Quis, dolores nulla.
        </p>
        <br />
        <p class="fs-5">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
          reiciendis temporibus minus, obcaecati, veritatis praesentium fugiat
          nostrum rem iure optio at laudantium. Quisquam tempore iure aut qui?
          Quis, dolores nulla.
        </p>
        <br />
        <p class="fs-5">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos
          laboriosam quo sequi distinctio maxime fugiat, labore totam ut,
          quibusdam, ipsa saepe aut dicta necessitatibus quia? Iusto mollitia
          veniam magnam. Accusamus dolor repudiandae nulla sit porro ipsam unde
          ratione accusantium, non repellendus veniam, eaque, voluptatum dolorem
          magnam itaque est expedita et?
        </p>
        <br />
        <p class="fs-5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error illum
          delectus, ea earum voluptatem atque soluta impedit nemo neque nulla
          similique quo ab perferendis nostrum ipsa, deserunt vel nam beatae.
        </p>
        <br />
      </div>
      <div class="row black py-5 flex-fill h-50">
        <div class="px-5">
          <h3>Rejoignez-nous</h3>
          <br />
          <br />
          <br />
          <p class="fs-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
            reiciendis temporibus minus, obcaecati, veritatis praesentium fugiat
            nostrum rem iure optio at laudantium. Quisquam tempore iure aut qui?
            Quis, dolores nulla.
          </p>
          <br />
          <p class="fs-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
            reiciendis temporibus minus, obcaecati, veritatis praesentium fugiat
            nostrum rem iure optio at laudantium. Quisquam tempore iure aut qui?
            Quis, dolores nulla.
          </p>
          <br />
          <p class="fs-5">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur cum iste totam, amet nihil incidunt vel tempore nobis
            tenetur ullam!
          </p>
          <br />
          <p class="fs-5">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error
            illum delectus, ea earum voluptatem atque soluta impedit nemo neque
            nulla similique quo ab perferendis nostrum ipsa, deserunt vel nam
            beatae.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------- END PRESENTATION --------------------- -->
