<!-- ------------------- PRESENTATION ------------------ -->

<div id="presentation" class="presentation">
  <div class="row">
    <div class="col-img col-12 col-lg-5 d-flex align-items-stretch">
      <img
        class="imgPresentation"
        src="../medias/imgPresentation2.jpg"
        alt=""
      />
    </div>
    <div class="col-12 col-lg-7 d-flex flex-column align-items-stretch">
      <div class="px-5 flex-fill flex-fill-md-none h-50">
        <h1>Présentation</h1>
        <br />
        <h3>Un club complet</h3>
        <br />
        <p class="fs-5">
          Au cœur de Lyon, dans le troisième arrondissement, au 40 rue
          d'Arménie, vous trouverez une communauté passionnée et dynamique
          réunie par l'amour du jeu d'échecs :
          <b
            ><br /><br />
            Massis Club d'Échecs.
          </b>
          <br /><br />
          Ce club, bien plus qu'un espace dédié aux échecs, est une véritable
          plateforme d'échanges et de rencontres pour tous, novices ou joueurs
          expérimentés. <br /><br />
          Si vous cherchez à approfondir votre compréhension du jeu, à vous
          mesurer à de nouveaux adversaires ou simplement à partager votre
          passion pour les échecs, Massis Club d'Échecs est l'endroit idéal pour
          vous. <br /><br />
        </p>
        <br />
        <div class="paddingCol"></div>
        <br />
      </div>
      <div class="row black flex-fill h-50">
        <div class="px-5">
          <h3>Rejoignez-nous</h3>
          <br />
          <p class="fs-5">
            Rejoignez Massis Club d'Echecs, une communauté passionnée où l'amour
            du jeu et l'esprit de compétition se rencontrent.
            <br /><br />Que vous soyez un débutant curieux d'apprendre les
            rudiments du jeu ou un vétéran aguerri cherchant de nouveaux défis,
            notre club est fait pour vous. <br /><br />Nos membres bénéficient
            d'un coaching de qualité, d'une atmosphère amicale et de nombreuses
            opportunités pour mettre leurs compétences à l'épreuve dans des
            tournois internes et externes.<br /><br />
            L'adhésion au Massis Club d'Echecs, c'est bien plus que jouer aux
            échecs, c'est rejoindre une famille qui partage une passion,
            soutient votre développement et célèbre vos réussites.<br /><br />
            N'hésitez plus, venez faire votre premier pas sur l'échiquier avec
            nous !
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------- END PRESENTATION --------------------- -->
