<!-- ----------------------- REDIRECTION ----------------------- -->

<div class="redirection" style="overflow: hidden">
  <div class="text-center">
    <h3>Redirection</h3>
    <h1>Plus d'informations</h1>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 px-4 d-flex justify-content-center text-center">
      <div class="image-container">
        <a href="nousRejoindre.php"
          ><img
            class="imgRedirection img-fluid"
            src="../medias/chess-sommaire2.jpg"
            alt=""
          />
          <div class="image-text">
            <p>Nous rejoindre</p>
          </div></a
        >
      </div>
    </div>
    <div class="col-12 col-md-4 px-4 d-flex justify-content-center text-center">
      <div class="image-container">
        <a href="vieDuClub.php"
          ><img
            class="imgRedirection img-fluid"
            src="../medias/chess-sommaire3.jpg"
            alt=""
          />
          <div class="image-text">
            <p>Vie du club</p>
          </div></a
        >
      </div>
    </div>
    <div class="col-12 col-md-4 px-4 d-flex justify-content-center text-center">
      <div class="image-container">
        <a href="contact.php"
          ><img
            class="imgRedirection img-fluid"
            src="../medias/chess-sommaire4.jpg"
            alt=""
          />
          <div class="image-text">
            <p>Nous contacter</p>
          </div></a
        >
      </div>
    </div>
  </div>
</div>

<!-- ----------------------- END REDIRECTION ----------------------- -->
