<!-- ----------------------- RESEAUX SOCIAUX ----------------------- -->

<div class="reseaux text-center">
  <h3>RESTEZ INFORMÉS</h3>
  <h1>REJOIGNEZ NOUS SUR LES RÉSEAUX SOCIAUX</h1>
  <h4>
    Ne manquez rien des dernières actualités du club en suivant nos pages
    Facebook et Instagram.
  </h4>
  <div class="row d-flex justify-content-center">
    <a
      target="_blank"
      class="anchorReseauxLogo"
      href="https://www.facebook.com/groups/772185282945792/?ref=share_group_link&exp=9594"
    >
      <i class="reseauxLogo fa-brands fa-facebook-f"></i>
    </a>
    <a target="_blank" class="anchorReseauxLogo" href="">
      <i class="reseauxLogo fa-brands fa-instagram"></i>
    </a>
  </div>
</div>

<!-- ----------------------- END RESEAUX SOCIAUX ----------------------- -->
