<div class="resultats">
  <div class="text-center">
    <h1>Résultats</h1>
    <h3 class="pb-5">Retrouvez ci-dessous tous les résultats du club</h3>
  </div>
  <!-- --------------------- DEBUT DESIGN PATTERN ------------------- -->
  <div class="row d-flex py-5">
    <div class="col-12 col-lg-2 col-xl-3"></div>
    <div class="col-12 col-lg-8 col-xl-6 b-rad15">
      <div class="row">
        <img
          class="imgResultats img-fluid"
          src="../medias/buildings.jpg"
          alt="affiche tournoi"
        />
        <!-- ECRIRE LE CHEMIN DE LA PHOTO DANS LE SRC  -->
        <!-- PRIVILEGIER DES PHOTOS HORIZONTALES -->
      </div>
      <div class="row d-flex">
        <div class="text-center white">
          <h2>TOURNOI RAPIDES JEUNES D'AVINKHA</h2>
          <!-- <h3></h3> Pour un éventuel sous-titre -->
          <p>
            Félicitations à nos 14 joueurs qui ont participé au Tournoi Rapides
            Jeunes d’Avinkha. <br />

            Un grand Merci au parents et aux enfants pour leur participation !
            <br />Aujourd’hui se sont distingués : <br /><br />
            - GILLET Astrik 1ere en catégorie poussine F <br />- HARUTYUNYAN
            Natalie 3eme en catégorie poussine F <br />- PAPAZYAN Luiza 2eme en
            catégorie Pupille F <br />- MELKUMYAN David 2eme en catégorie
            Pupille M <br />- MOURADIAN Ichrhan 3eme en catégorie Pupille M
            <br />- ABRAHAMYAN Aram 4eme en catégorie Minime <br /><br />M ABAZA
            Florent, AGHASSARYAN Leo, AZIZYAN David, GASPARYAN Davit, HAKOBIAN
            Hovik, KALFAYAN Rafael, NERSISYAN Vatche et VINCENDON Leo
          </p>
          <!-- <a href="open.php"
            ><button class="btn btn-goldResultats">INFORMATIONS OPEN</button></a
            > -->
          <p class="date">Rédigé le 26-07-2023</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 col-xl-3"></div>
  </div>
  <!-- --------------------- FIN DESIGN PATTERN ------------------- -->
</div>
