<div class="vieDuClub">
  <div class="row borderGold d-flex">
    <div class="col col-12 col-md-5 borderGoldRight">
      <a href="actualites.php">
        <div
          class="actualites case d-flex justify-content-center align-items-center text-center"
        >
          <h1>ACTUALITES</h1>
        </div>
      </a>
    </div>
    <div class="col col-12 col-md-7">
      <a href="open.php">
        <div
          class="openDeMassis case d-flex justify-content-center align-items-center text-center"
        >
          <h1>OPEN CHESS LYON GENERATION</h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col col-12 col-md-7 borderGoldRight">
      <a href="resultats.php">
        <div
          class="resultats case d-flex justify-content-center align-items-center text-center"
        >
          <h1>RESULTATS</h1>
        </div>
      </a>
    </div>
    <div class="col col-12 col-md-5">
      <a href="staff.php">
        <div
          class="staff case d-flex justify-content-center align-items-center text-center"
        >
          <h1>COMITE DIRECTEUR</h1>
        </div>
      </a>
    </div>
  </div>
</div>
