<!-- ----------------------- SOMMAIRE LOCALISATION ---------------------- -->
<div id="sommaire" class="sommaire text-center justify-content-center">
  <div class="row d-flex py-5">
    <div class="col-12 col-md-4 col-lg-4 py-3">
      <a class="no-underline text-black" href="#localisation"
        ><img class="imgSommaire" src="../medias/chess-sommaire.jpg" alt="" />
        <div class="row d-flex">
          <span class="fs-4">Localisation</span>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 col-lg-4 py-3 chiffres">
      <a class="no-underline text-black" href="#horaires"
        ><img class="imgSommaire" src="../medias/chess-sommaire2.jpg" alt="" />
        <div class="row d-flex">
          <span class="fs-4">Accès et Horaires</span>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 col-lg-4 py-3">
      <a class="no-underline text-black" href="#adhesion"
        ><img class="imgSommaire" src="../medias/chess-sommaire3.jpg" alt="" />
        <div class="row d-flex">
          <span class="fs-4">Adhésion</span>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <img src="../medias/buildings.jpg" alt="lyon skyline" />
  </div>
</div>
<!-- ------------------- END SOMMAIRE LOCALISATION --------------------- -->
