<!-- ----------------------- SOMMAIRE LOCALISATION ---------------------- -->
<div id="sommaire" class="sommaire text-center justify-content-center">
  <div class="row d-flex">
    <div
      class="col-12 col-md-4 case1 align-items-center d-flex text-center justify-content-center"
    >
      <a class="no-underline text-black" href="#localisation">
        <div class="row d-flex">
          <p class="textSommaire my-auto">Localisation</p>
        </div>
      </a>
    </div>
    <div
      class="col-12 col-md-4 chiffres case2 align-items-center d-flex text-center justify-content-center"
    >
      <a class="no-underline text-black" href="#horaires">
        <div class="row d-flex">
          <p class="textSommaire my-auto px-5">Accès et Horaires</p>
        </div>
      </a>
    </div>
    <div
      class="col-12 col-md-4 case3 align-items-center d-flex text-center justify-content-center"
    >
      <a class="no-underline text-black" href="#adhesion">
        <div class="row d-flex">
          <p class="textSommaire my-auto">Adhésion</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <img
      class="row-border-bottom"
      src="medias/buildingsInverse.jpg"
      alt="lyon skyline"
    />
  </div>
</div>
<!-- ------------------- END SOMMAIRE LOCALISATION --------------------- -->
