<div class="staff">
  <div class="text-center">
    <h1>COMITE DIRECTEUR</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8">
        <div class="row d-flex">
          <div class="col-12 col-lg-4 text-center justify-content-center">
            <img class="imgStaff" src="../medias/chess-sommaire4.jpg" alt="" />
            <h2>Anna</h2>
            <h2>JAMBON</h2>
            <h3>Présidente</h3>
          </div>
          <div class="col-12 col-lg-4 text-center justify-content-center">
            <img class="imgStaff" src="../medias/chess-sommaire4.jpg" alt="" />
            <h2>Jean</h2>
            <h2>DER MEKDIAN</h2>
            <h3>Trésorier</h3>
          </div>
          <div class="col-12 col-lg-4 text-center justify-content-center">
            <img class="imgStaff" src="../medias/chess-sommaire4.jpg" alt="" />
            <h2>Raffi</h2>
            <h2>KRIKORIAN</h2>
            <h3>Secrétaire</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8">
        <div class="row d-flex">
          <div class="col-12 col-lg-4 text-center justify-content-center">
            <img class="imgStaff" src="../medias/chess-sommaire4.jpg" alt="" />
            <h2>Hadrien</h2>
            <h2>VINCENDON</h2>
            <h3>Trésorier adjoint</h3>
          </div>
          <div class="col-12 col-lg-4 text-center justify-content-center">
            <img class="imgStaff" src="../medias/chess-sommaire4.jpg" alt="" />
            <h2>Jean-Jacques</h2>
            <h2>OSMANDJIAN</h2>
            <h3>Administrateur</h3>
          </div>
          <div class="col-12 col-lg-4 text-center justify-content-center">
            <img class="imgStaff" src="../medias/chess-sommaire4.jpg" alt="" />
            <h2>Dikran</h2>
            <h2>SAZIAN</h2>
            <h3>Administrateur</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-2"></div>
      <div class="col-12 col-lg-8">
        <div class="row d-flex">
          <div class="col-12 text-center justify-content-center">
            <img class="imgStaff" src="../medias/chess-sommaire4.jpg" alt="" />
            <h2>Roman</h2>
            <h2>TARJIMANOV</h2>
            <h3>Administrateur</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
  </div>
</div>
